<?xml version="1.0"?>
<config>
  <modules>
    <T4U_Payfull>
      <version>1.0.0</version>
    </T4U_Payfull>
  </modules>
	<default>
    <payment>
      <payfull>
        <active>1</active>
        <model>payfull/payment</model>
        <order_status>processing</order_status>
        <title>Payfull Payment Gateway</title>
        <allowspecific>0</allowspecific>
        <payment_action>authorize_capture</payment_action>
      </payfull>
    </payment>
  </default>
  <frontend>
    <routers>
      <payfull>
        <use>standard</use>
          <args>
            <module>T4U_Payfull</module>
            <frontName>payfull</frontName>
          </args>
      </payfull>
    </routers>
  </frontend>
  <frontend>
    <translate>
      <modules>
        <T4U_Payfull>
          <files>
            <default>T4U_Payfull.csv</default>
          </files>
        </T4U_Payfull>
      </modules>
    </translate>
  </frontend>
  <global>
    <fieldsets>
        <sales_convert_quote_payment>
            <installment>
                <to_order_payment>*</to_order_payment>
            </installment>
            <use3d_secure>
                <to_order_payment>*</to_order_payment>
            </use3d_secure>
            <bank_id>
                <to_order_payment>*</to_order_payment>
            </bank_id>
            <gateway>
                <to_order_payment>*</to_order_payment>
            </gateway>
        </sales_convert_quote_payment>
    </fieldsets>
    <helpers>
      <payfull>
        <class>T4U_Payfull_Helper</class>
      </payfull>
    </helpers>
	<blocks>
	  <payfull>
		<class>T4U_Payfull_Block</class>
	  </payfull>
	</blocks>
	<models>
		<payfull>
			<class>T4U_Payfull_Model</class>
		</payfull>
    </models>
	<resources>
	  <payfull_setup>
		<setup>
		  <module>T4U_Payfull</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </payfull_setup>
	  <payfull_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </payfull_write>
	  <payfull_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </payfull_read>
	</resources>
  </global>
</config> 